<p>my-component works!</p>

<!-- <mat-form-field appearance="fill"> -->
    <!-- <mat-label>Different locale</mat-label> -->
     <!-- <input matInput [matDatepicker]="dp">  -->
     <!-- <mat-hint>{{getDateFormatString()}}</mat-hint>  -->
     <!-- <mat-datepicker-toggle></mat-datepicker-toggle>  -->
     <!-- <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle> -->
     <!-- <mat-datepicker #dp></mat-datepicker>  -->
    <!-- <mat-calendar matSuffix  [for]="dp1"></mat-calendar> -->
    <!-- <mat-calendar #dp1></mat-calendar> -->
<!-- </mat-form-field> -->
<!-- <mat-calendar ></mat-calendar>  -->
     <!-- <mat-calendar ></mat-calendar> -->
    <!-- <button mat-button (click)="french()">Dynamically switch to Spanish</button> -->

    <!-- <mat-datepicker #dp></mat-datepicker> -->


    <!-- <mat-form-field
    appearance="outline"
    [color]="'primary'"
    class="ngp-input-form-field">

    <input
    matInput
    #startDateRef
    value={{showAbsoluteDate}}
    (click)="$event.stopPropagation()"
    readonly
    />

    <mat-icon
    matDatepickerToggleIcon
    class="date-mat-icon"
    [matMenuTriggerFor]="calender"
    #StartDateCalenderTrigger="matMenuTrigger"
    matSuffix
    >calendar_today</mat-icon>
    </mat-form-field> -->
<!-- 
    <mat-menu
    #calender="matMenu"
    class="share-exp-date-menu"
    xPosition="before"
    yPosition="below">

    <a (click)="$event.stopPropagation(); $event.preventDefault()">
    <div class="share-date-picker-main">
    <mat-calendar
    #startDateCalendar
    [selected]="dateTime"
    (selectedChange)="onChangeDate($event)"
    (click)="$event.stopPropagation()"
    ></mat-calendar>
<div class="time-bottom-div">

    <span class="time-text">Date Time</span>    
    <input
    class="time-input"
    type="time"
    step="2"
    (click)="$event.stopPropagation()"
    />
    </div>
    <!-- <mat-error class="time-bottom-err-div" *ngIf="showDateErrorMessage">{{
    dateTimeErrMsg
    }}</mat-error> -->
   <!-- <div class="div-btn-actions">  -->
    <!-- <button class ="button-css" mat-raised-button color="primary" (click)="applyStartDate()">Apply</button> -->
  <!--  </div>
    </div>
    </a>
    </mat-menu> -->